<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-3 p-5">
            <form action="/login" method="post">
                <div class="card text-center">
                    <h1 class="fw-bolder mb-4">SIGN IN.</h1>
                    <div class="input-group mb-4">
                        <label for="user" class="form-label">Username:</label>
                        <input type="text" name="username" id="username" class="form-control w-100">
                    </div>
                    <div class="input-group">
                        <label for="pass" class="form-label">Password:</label>
                        <input type="password" name="password" id="password" class="form-control w-100">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success mt-3 w-100">LOGIN</button>
            </form>
        </div>
    </div>
</div>